.guide-header {
  text-align: center;
  margin-bottom: 2rem;
}

/* Filter Section */
.guide-filter {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  background-color: rgba(204, 8, 8, 0.1);
  border: 0.05rem solid var(--red-color-primary);
  border-radius: 0.625rem;
  width: 52%;
  min-width: fit-content;
  justify-self: center;
}

.filter-description {
  font-size: 0.875rem;
  color: var(--medium-dark-color);
  text-align: center;
  max-width: 18.5rem;
  margin: 0;
}

.filter-buttons {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-buttons h4 {
  margin: 0;
}

.filter-btn {
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  background-color: var(--light-gray-color);
  border-radius: 0.625rem;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 0.125rem solid transparent;
}

.filter-btn-ux {
  color: var(--red-color-primary);
  border-color: var(--red-color-primary);
}

.filter-btn-ux:hover,
.filter-btn-ux.active {
  background-color: var(--red-color-primary);
  color: white;
}

.filter-btn-lgpd {
  color: var(--blue-color-primary);
  border-color: var(--blue-color-primary);
}

.filter-btn-lgpd:hover,
.filter-btn-lgpd.active {
  background-color: var(--blue-color-primary);
  color: white;
}

.filter-btn-clear {
  color: var(--medium-dark-color);
  border-color: var(--medium-dark-color);
}

.filter-btn-clear:hover {
  background-color: var(--medium-dark-color);
  color: white;
}

.guide-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.guide-item {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 62.5rem;
  min-width: fit-content;
}

.guide-item:nth-child(even) {
  flex-direction: row-reverse;
}

.guide-item .card {
  flex: 0 0 20rem;
  width: 20rem;
}

.guide-image {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-image img {
  width: 100%;
  max-width: 20rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.08);
}

@media (max-width: 56.25rem) {
  .guide-item {
    flex-direction: column !important;
    gap: 1.5rem;
  }

  .guide-item .card {
    flex: 0 0 auto;
    width: 100%;
    max-width: 20rem;
  }

  .guide-image {
    width: 100%;
    max-width: 25rem;
  }
}
