@import './reset.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Anek Devanagari", Arial, Helvetica, sans-serif;
}

.section {
  background: var(--background-color);
  backdrop-filter: blur(0.625rem) saturate(200%);
  -webkit-backdrop-filter: blur(0.625rem) saturate(200%);
  border-radius: 2rem;
  border: 0.09375rem solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.1);
  padding: 3.75rem 2.5rem;
  margin: 2rem;
  min-width: fit-content;
  color: var(--dark-color);
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-color);
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.4rem;
  color: var(--medium-dark-color);
  margin: 0;
}

section {
  scroll-margin-top: 5rem;
  margin: 5em 10em !important;
}

@media (max-width: 64rem) {
  section {
    margin: 3em 3em !important;
  }

  .section {
    padding: 2.5rem 1.5rem;
  }
}

@media (max-width: 48rem) {
  section {
    margin: 2em 1em !important;
  }

  .section {
    padding: 2rem 1rem;
    min-width: auto;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.1rem;
  }
}