@import './reset.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Anek Devanagari", Arial, Helvetica, sans-serif;
}

.section {
  background: var(--background-color);
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  border-radius: 2rem;
  border: 1.5px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  padding: 60px 40px;
  margin: 2rem;
  color: var(--dark-color);
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-color);
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.4rem;
  color: var(--medium-dark-color);
  margin: 0;
}
