@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");

:root {
  --dark-blue-color: #1c7ea8;
  --blue-color-primary: #3cb4e7;
  --light-blue-color: #b3e8ff;
  --green-color-primary: #1ca876;
  --light-green-color: #15c887;
  --red-color-primary: #cc0808;
  --light-red-color: #f20e0e;
  --yellow-color-primary: #cc9508;
  --light-yellow-color: #fbbc1a;
  --light-color: #fbfbfb;
  --light-gray-color: #eaeaea;
  --medium-dark-color: #323232;
  --dark-color: #222;
  --background-color: rgba(237, 237, 237, 0.6);
  --light-background-color: rgba(250, 250, 250, 0.7);
  --red-chocolate-color: rgba(204, 8, 8, 0.3);
  --blue-chocolate-color: rgba(74, 114, 137, 0.3);
  --yellow-chocolate-color: rgba(204, 149, 8, 0.3);
}
