.examples-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 3.75rem;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  max-width: 75rem;
  margin: 0 2rem;
}

.examples-item {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.examples-item iframe {
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.examples-item h4 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  white-space: nowrap;
}

.examples-animation {
  align-self: center;

  img {
    width: 31.25rem;
    height: auto;
    border-radius: 1.5625rem;
  }

  p {
    padding: 0.625rem;
    text-align: right;
  }
}

@media (max-width: 87.5rem) {
  .examples-animation {
    width: 12.5rem;
    right: 1.25rem;
  }
}

@media (max-width: 75rem) {
  .examples-animation {
    position: static;
    transform: none;
    display: block;
    margin: 3.75rem auto 0;
  }

  .examples-section {
    padding: 3.75rem 2.5rem;
  }
}

@media (max-width: 56.25rem) {
  .examples-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }

  .examples-item iframe {
    width: 100%;
    height: auto;
  }

  .examples-section h2 {
    font-size: 2.5rem;
  }

  .examples-section h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 48rem) {
  .examples-section {
    padding: 2.5rem 1.25rem;
  }

  .examples-section h2 {
    font-size: 2rem;
  }

  .examples-item h4 {
    font-size: 1.5rem;
  }

  .examples-animation {
    width: 9.375rem;
  }
}
