.card {
  position: relative;
  width: 20rem;
  min-width: fit-content;
  min-height: 20rem;
  height: 100%;
  background: var(--light-background-color);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 1.5rem 1.125rem 1.125rem 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--red-color-primary);
  text-align: center;
  margin-bottom: 1rem;
}

.card-text {
  color: var(--red-color-primary);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card-tags {
  margin-top: auto;
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.tags-list {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.375rem;
}

.tag {
  padding: 0.125rem 0.625rem;
  border-radius: 0.625rem;
  font-size: 0.9rem;
  background: var(--medium-dark-color);
  color: var(--light-color);
  border: 0.0625rem solid var(--light-gray-color);
}

.tag-ux {
  background: var(--red-chocolate-color);
  border: 0.0625rem solid var(--red-color-primary);
}

.tag-lgpd {
  background: var(--blue-chocolate-color);
  border: 0.0625rem solid var(--dark-blue-color);
}
