footer {
  background-color: var(--light-color);
}

footer ul {
  background: linear-gradient(
    to right,
    var(--red-chocolate-color),
    var(--yellow-chocolate-color),
    var(--blue-chocolate-color)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 10em;
}

footer ul li {
  display: flex-column;
  justify-items: center;
  flex: 1;
}

.footer-logos {
  display: flex;
  justify-content: center;
  gap: 5em;

  img:nth-child(1) {
    width: 20%;
  }

  img:nth-child(2) {
    width: 25%;
  }
}

footer ul li img {
  width: 50px;
  height: auto;
}

footer ul li p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 28em;
  padding: 1em;
}

footer ul li p a {
  color: var(--dark-blue-color);
  text-decoration: underline;
  font-weight: 600;
}

footer ul li p a:hover {
  color: var(--blue-color-primary);
}

@media (max-width: 1024px) {
  footer ul {
    flex-direction: column;
    gap: 3em;
    padding: 2em 3em;
  }

  footer ul li {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .footer-logos {
    flex-direction: row;
    gap: 1em;

    img:nth-child(1) {
      width: 80px;
    }

    img:nth-child(2) {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  footer ul {
    padding: 2em 1.5em;
  }

  .footer-logos {
    gap: 1.5em;

    img:nth-child(1) {
      width: 60px;
    }

    img:nth-child(2) {
      width: 80px;
    }
  }
}
