footer {
  background-color: var(--light-color);
}

footer ul {
  background: linear-gradient(
    to right,
    var(--red-chocolate-color),
    var(--yellow-chocolate-color),
    var(--blue-chocolate-color)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em;
}

footer ul li {
  display: flex-column;
  justify-items: center;
  flex: 1;
}

.footer-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.footer-logos a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logos a:nth-child(1) img,
.footer-logos a:nth-child(3) img {
  height: 4rem;
  width: auto;
}

.footer-logos a:nth-child(2) img {
  height: 6rem;
  width: auto;
}

footer ul li p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 24em;
  padding: 1em;
}

footer ul li p a {
  color: var(--dark-blue-color);
  text-decoration: underline;
  font-weight: 600;
}

footer ul li p a:hover {
  color: var(--blue-color-primary);
}

@media (max-width: 64rem) {
  footer ul {
    flex-direction: column;
    gap: 3em;
    padding: 2em 3em;
  }

  footer ul li {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .footer-logos {
    flex-direction: row;
    gap: 1em;
  }
}

@media (max-width: 48rem) {
  footer ul {
    padding: 2em 1.5em;
  }

  .footer-logos {
    gap: 1.5em;
  }
}
